# Disable project whitespace checks for externally maintained source snapshots.
components/agora_rtc/** -whitespace
components/aosl/** -whitespace
components/button/** -whitespace
components/cmake_utilities/** -whitespace
components/esp_audio_codec/** -whitespace
components/esp_codec_dev/** -whitespace
components/esp_lcd_ili9341/** -whitespace
components/esp-wifi-connect/** -whitespace
third_party/** -whitespace

*.a binary
*.bin binary
*.jpg binary
*.ogg binary
*.png binary
